body {
    background-image: url(https://hipertextual.com/files/2019/07/hipertextual-marvel-revela-sera-final-universo-marvel-2019314666.jpg);
   
}

h1 {
    color:blue;
    font-weight: bold;
}

img.img-thumbnail {
    width: 100%;
    height: 80%;
  
}

.opacity {
    opacity: 0.9;
    
}




